*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

ul,ol{
    list-style: none;
}

a{
    display: inline-block;
    text-decoration: none;
}

img{
    vertical-align: middle;
}

.clr{
    clear: both;
}

/* common css end */

.main_menu{
    height: 60px;
    background: #000;
}

.main_menu ul li{
    float: left;
    position: relative;
}

.main_menu ul li a{
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Open Sans', BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,  'Helvetica Neue', sans-serif;
    text-transform: capitalize;
    padding: 0 20px;
    line-height: 60px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    display: block;
}

.main_menu ul li a:hover{
    background: white;
    color: #0713DB;
}

.main_menu ul li ul{
    background: #000000;
    position: absolute;
    width: 150px;
    left: 0;
    top:200px; 
    visibility: hidden;
    opacity: 0;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.main_menu ul li ul li{
    width: 100%;
}

.main_menu ul li:hover > ul{
    opacity: 1;
    visibility: visible;
    top: 60px;
}

.main_menu ul li ul li ul{
    left: 100%;
    top: 0 !important;
}

.main_menu ul li :after{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 0;
    height: 4px ;
    background-color: #E9008C;
    opacity: 0;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.main_menu ul li :before{
    position: absolute;
    content: '';
    right: 0;
    top: 0;
    width: 0;
    height: 4px ;
    background-color: #E9008C;
    opacity: 0;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.main_menu ul li :hover:after,
.main_menu ul li :hover:before{
    opacity: 1;
    width: 100%;
}


/* main menu end */

.bg {
    width: 1360px;
    height: 800px;
    background-color: #000000;
    position: relative;
}

.block1{
    width: 456px;
    height: 134px;
    background-color: #E9008C;
    position: absolute;
    right: 34%;
    top: 29%;
}

.block2{
    width: 456px;
    height: 134px;
    background-color: #0713DB;
    position: absolute;
    right: 35%;
    top: 27%;
    font-weight: 500;
    font-size: 60px;
    font-family: monospace;
    text-align: center;
    padding-top: 30px;
    color: #f5f5f5;
    text-transform: capitalize;
}