.a1 {
    width: 800px;
    height: 800px;
    background: #8a2be2;
    margin: 0 auto;
}

.a2 {
    width: 800px;
    height: 200px;
    background: #000080;
}

.a6 {
    width: 200px;
    height: 200px;
    background: #da70d6;
    float: left;
}

.a10 {
    width: 200px;
    height: 100px;
    background: #98fb98;
    float: left;
}

.a11 {
    width: 100px;
    height: 100px;
    background: #c9c94b;
    float: left;
}

.a7 {
    width: 200px;
    height: 200px;
    background: #4d29a3;
    float: left;
}

.a13 {
    width: 200px;
    height: 50px;
    background: #8d6e33;
    float: left;
}

.a14 {
    width: 200px;
    height: 100px;
    background: #9b2a2a;
    float: left;
}

.a15 {
    width: 200px;
    height: 50px;
    background: #ff6347;
    float: left;
}

.a8 {
    width: 200px;
    height: 200px;
    background: #337551;
    float: left;
}

.a16 {
    width: 100px;
    height: 100px;
    background: #59cabf;
    float: left;
}

.a17 {
    width: 100px;
    height: 50px;
    background: #f05858;
    float: left;
}

.a18 {
    width: 100px;
    height: 50px;
    background: #921b92;
    float: left;
}

.a19 {
    width: 200px;
    height: 100px;
    background: #21c2ba;
    float: left;
}

.a9 {
    width: 200px;
    height: 200px;
    background: #70b3da;
    float: left;
}

.a20 {
    width: 200px;
    height: 50px;
    background: #778899;
    float: left;
}

.a21 {
    width: 200px;
    height: 100px;
    background: #ff7f50;
    float: left;
}

.a22 {
    width: 50px;
    height: 100px;
    background: #dc143c;
    float: left;
}

.a23 {
    width: 100px;
    height: 100px;
    background: #b8860b;
    float: left;
}

.a24 {
    width: 50px;
    height: 100px;
    background: #9932cc;
    float: left;
}

.a25 {
    width: 200px;
    height: 50px;
    background: #8fbc8f;
    float: left;
}


.a3 {
    width: 800px;
    height: 200px;
    background: #808000;
}

.a26 {
    width: 266px;
    height: 200px;
    background: #ff1493;
    float: left;
}

.a29 {
    width: 133px;
    height: 100px;
    background: #deb887;
    float: left;
}

.a30 {
    width: 133px;
    height: 100px;
    background: #7fff00;
    float: left;
}

.a31 {
    width: 89px;
    height: 100px;
    background: #008b8b;
    float: left;
}

.a32 {
    width: 88px;
    height: 100px;
    background: #006400;
    float: left;
}

.a33 {
    width: 89px;
    height: 100px;
    background: #6738a5;
    float: left;
}

.a27 {
    width: 267px;
    height: 200px;
    background: #00ced1;
    float: left;
}

.a34 {
    width: 267px;
    height: 50px;
    background: #cf13b6;
    float: left;
}

.a35 {
    width: 267px;
    height: 100px;
    background: #ffd700;
    float: left;
}

.a36 {
    width: 267px;
    height: 50px;
    background: #968457;
    float: left;
}

.a28 {
    width: 267px;
    height: 200px;
    background: #ff69b4;
    float: left;
}

.a37 {
    width: 267px;
    height: 100px;
    background: #4b0082;
    float: left;
}

.a38 {
    width: 133px;
    height: 100px;
    background: #f0e68c;
    float: left;
}

.a39 {
    width: 134px;
    height: 100px;
    background: #7cfc00;
    float: left;
}

.a4 {
    width: 800px;
    height: 200px;
    background: #007780;
}

.a40 {
    width: 200px;
    height: 200px;
    background: #f08080;
    float: left;
}

.a44 {
    width: 200px;
    height: 100px;
    background: #eb5216;
    float: left;
}

.a45 {
    width: 200px;
    height: 100px;
    background: #32cd32;
    float: left;
}

.a41 {
    width: 200px;
    height: 200px;
    background: #7fff00;
    float: left;
}

.a46 {
    width: 200px;
    height: 50px;
    background: #c0b68c;
    float: left;
}

.a47 {
    width: 200px;
    height: 100px;
    background: #b8860b;
    float: left;
}

.a48 {
    width: 200px;
    height: 50px;
    background: #8b008b;
    float: left;
}

.a42 {
    width: 200px;
    height: 200px;
    background: #c56b4d;
    float: left;
}

.a49 {
    width: 200px;
    height: 100px;
    background: #90ee90;
    float: left;
}

.a50 {
    width: 200px;
    height: 100px;
    background: #20b2aa;
    float: left;
}

.a5 {
    width: 800px;
    height: 200px;
    background: #1f2b99;
}

.a51 {
    width: 266px;
    height: 200px;
    background: #00ff00;
    float: left;
}

.a52 {
    width: 267px;
    height: 200px;
    background: lightgoldenrodyellow;
    float: left;
}