.para {
    color: #991111;
    font-size: 20px;
    font-weight: 700;
    font-style: inherit;
    font-family: monospace;
    line-height: 1.7em;
    background-color: lightcyan;

}

h1 {
    color: #49168d;
}