* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul,
ol {
	list-style: none;
}

a {
	text-decoration: none;
	display: inline-block;
}

img {
	vertical-align: middle;
}

.container {
	margin: 0 auto;
	max-width: 1200px;
}

.clr {
	clear: both;
}

.flex {
	display: flex;
}

.flex_wrap {
	flex-wrap: wrap;
}

.justify_center {
	justify-content: center;
}

.justify_start {
	justify-content: flex-start;
}

.justify_end {
	justify-content: flex-end;
}

.justify_btwn {
	justify-content: space-between;
}

.text_center {
	text-align: center;
}

:root {
	--monserrat: "Montserrat", sans-serif;
	--kscript: "Kaushan Script", cursive;
	--hover: #fce38a;
}

/* ========================================
            common css end
==========================================*/

/* ========================================
            menu css start
==========================================*/
#menu {
	padding: 30px 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
}

.main_menu ul li a {
	color: #fff;
	margin: 0 10px;
	position: relative;
	font-family: var(--monserrat);
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
}

.main_menu ul li a:hover {
	color: var(--hover);
}

.main_menu ul li a::before {
	position: absolute;
	content: "";
	left: 0;
	bottom: -12px;
	width: 0;
	height: 3px;
	background: var(--hover);
	transition: all linear 0.3s;
	-webkit-transition: all linear 0.3s;
	-moz-transition: all linear 0.3s;
	-ms-transition: all linear 0.3s;
	-o-transition: all linear 0.3s;
}

.main_menu ul li a:hover:before {
	width: 100%;
}
/* ========================================
            menu css end
==========================================*/

/* ========================================
            banner css start
==========================================*/
#banner {
	padding: 235px 0 230px;
}

.banner_text {
	width: 830px;
	margin: 0 auto;
}

.banner_text h2 {
	font-family: var(--kscript);
	font-size: 72px;
	color: #fff;
	font-weight: 400;
}

.banner_text h1 {
	font-family: var(--monserrat);
	font-size: 150px;
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
	position: relative;
}

.banner_text h1:before {
	position: absolute;
	content: "";
	left: 380px;
	bottom: 0;
	height: 3px;
	width: 60px;
	background-color: #fff;
	margin-top: 100px;
}

.banner_text a {
	font-family: var(--monserrat);
	font-size: 14px;
	font-weight: 700;
	color: #fff;
	border: 3px solid #fff;
	padding: 12px 30px;
	margin-top: 50px;
}
/* ========================================
            banner css end
==========================================*/
/* ========================================
            menu css start
==========================================*/
/* ========================================
            menu css end
==========================================*/
/* ========================================
            menu css start
==========================================*/
/* ========================================
            menu css end
==========================================*/
/* ========================================
            menu css start
==========================================*/
/* ========================================
            menu css end
==========================================*/
