*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg1{
    width: 1360px;
    height: 800px;
    background-color: #000000;
    margin: 0 auto;
    position: relative;
}

.box1{
    width: 456px;
    height: 134px;
    background-color: #0613DB;
    position: absolute;
    top: 29%;
    right: 34%;
    z-index: 1;
}

.box2{
    width: 456px;
    height: 134px;
    color: #ffffff;
    background-color: #E9008B;
    font-family: monospace;
    font-size: 60px;
    text-align: center;
    padding-top: 30px;
    font-weight: 500;
    position: absolute;
    top: 27%;
    right: 35%;
    z-index: 2;
}